.wrapper{
  display: flex;
}
.wrapper.seventy {
flex-grow: 70%;  }

.wrapper.thirty {
    flex-shrink: 30%; 
  }

.wrapper
  .fullwidth {
    width: 100%;
   
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right ;
}
.myclass{
  width:100%; 
  height:400px; 
  display:flex; 
  align-items:center;
  text-align:center;
}
  